@import url('https://fonts.googleapis.com/css?family=Rancho');

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right , #66DAC7 50%, #2E4158 50%);
  width: 100vh;
  height: 100vh;
  font-family: 'Rancho', cursive;
}

.Buttons{
  position: fixed;
  top: 10%;
  left: 86%; 

}
#b_change{
  font-family: 'Rancho', cursive;
  border: none;
  padding: 8px 20px;
  border-radius: 25px; 
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  float: left;
}

.tab{
  position: fixed;
  width: 550px;
  height: 350px;
  top: 30%;
  left: 54%;
  margin-top: -30px;
  margin-left: 30px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .1); 
}
form {
  margin: 110px;
  margin-top: 30px;
}
label {
  color: rgb(0, 0, 0);
  display: inline-block;
  margin-left: 30px;
  padding-top: 20px;
  font-size: 24px;
}

input {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 12px;
  outline: none;
  margin-right: 4px;
}
input[type=text],
input[type=password] {
    padding-left: 10px;
    margin: 10px;
    margin-top: 12px;
    margin-left: 18px;
    width: 290px;
    height: 35px;
}
#lower {
  margin-top: 4px;
}

input[type=checkbox] {
  margin-left: -10px;
  margin-top: 10px;
}

button[type=submit] {
  float: right;
  margin-right: -12px;
  margin-top: 20px;
  width: 100px;
  height: 30px;
}